################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

# Se excluyen carpetas de ámbito local

/.vs
/WebApp/WebMap/.vs
/WebApp/WebMap/.vscode