/* Principal */
html, body, #viewDiv {
    height: 100%;
    width: 100%;
}

/* Ajuste a footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: darkolivegreen;
    height: 18px;
    margin: -5px;
}

/* Hover on button */
.hovicon {
    display: inline-block;
    /* font-size: 45px; */
    /* line-height: 90px; */
    cursor: pointer;
    /* margin: 20px; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: left;
    position: relative;
    /* text-decoration: none; */
    /* z-index: 1; */
    /* color: #fff; */
}
.hovicon.effect {
    /* background: rgba(255, 255, 255, 0.1); */
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.hovicon.effect:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.hovicon.effect:hover {
    /* background: rgba(255, 255, 255, 0.05); */
    background: rgba(20, 32, 136, 0.342);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}
.hovicon.effect:hover i {
    color: #fff;
}
.hovicon.effect:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}




#coordinateString {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 99999;
  background: white;
  padding: 5px;
  font: "Helvetica Neue";
}

#popup {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  z-index: 1001;

}

.content-popup {
  margin:0px auto;
  margin-top:120px;
  position:relative;
  padding:10px;
  width: 628px;
  min-height:250px;
  border-radius:4px;
  background-color:#FFFFFF;
  box-shadow: 0 2px 5px #666666;
  height:500px;
  overflow:auto;
}




.content-popup h2 {
  color:#48484B;
  border-bottom: 1px solid #48484B;
  margin-top: 0;
  padding-bottom: 4px;
}

.popup-overlay {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  display:none;
  background-color: #777777;
  cursor: pointer;
  opacity: 0.7;

}

.close {
  position: absolute;
  right: 15px;
}

#search {
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 74px;
}


#info {
   top: 10px;
   color: #444;
   height: auto;
   font-family: arial;
   font-weight: bold;
   left: 370px;         
   margin: 5px;
   padding: 10px;         
   position: absolute;
   width: 100%;
   z-index: 40;
   border: solid 1px #003300;
   border-radius: 4px;
   background-color: #E5E5E5;         
   float: left;
   width: 50%;
   float: left;
}

.mensaje .infoPrincipal{
  display: block;
  padding: 20px;
}

.close #close img{
     width: 32px;
}

div#myModalConsultaUPRA {
    float: right;
    height: 300px;
    width: 45%;
    display: block;
    position: relative;
    top: 121px;
    margin: 20em 0 0 auto;
}

#myModalConsultaUPRA .etiquetaBuscador img{
    width: 18px;
}